.side_bar
  .header
    .header__user
      Username
    .header__btn
      = link_to "#", class: "header__btn" do
        = icon('fas', 'edit',class:"header__btn--icon")
      = link_to "#", class: "header__btn" do
        = icon('fas', 'cog',class:"header__btn--icon")
  .contents
    .contents-main
      .contents-main__group
        group1
      
      .contents-main__message
        message1

    .contents-sub
      .contents-sub__group
        group2
        
      .contents-sub__message
        message2