.send_form{
  background-color: #ddd;
  overflow: scroll;
  padding: 20px 40px;
  height: 90px;
  box-sizing: border-box;

  .message-form{
    display: flex;
    position: relative;
    &__text{
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    color: #434A54;
    border-style: none;
    }

  .input-box{
    position: absolute;
    right: 65px;
    top: 7px;
    &__icon{
    }
    &__file{
    width: 0;
    height: 0;
    }
    }

  .send-box{
    right: 0;
    &__btn{
    height: 50px;
    width: 100px;
    background-color: #38AEF0;
    color: white;
    margin-left: 15px;
    }
    }
  }
}