.side_bar{
  float: left;

  .header {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 63px;
    background-color: #253141;
    color: #FFFF;
    padding: 35px 20px 0px 20px;
  
    &__user{
      font-size: 16px;
      font-weight: bold;
    }
    &__btn{
      color: #FFFF;
      text-decoration: none;
    }
  }

  .contents-main{
    @extend.side_bar_content;
    padding: 20px 20px 40px 20px;

    &__group{
      @extend.side_bar_group;
    }
    &__message{
      @extend.side_bar_message;
    }
  }

  .contents-sub{
    @extend.side_bar_content;
    height: calc(100vh - 75px - 32px);
    padding: 0 20px;

    &__group{
      @extend.side_bar_group;
    }
    &__message{
      @extend.side_bar_message;
    }
  }
}